<div class="wrapper">
    <app-pokemon-card [data]="cardPokemon1"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon2"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon3"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon4"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon5"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon6"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon1"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon2"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon3"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon4"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon5"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon6"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon1"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon2"></app-pokemon-card>
    <app-pokemon-card [data]="cardPokemon6"></app-pokemon-card>
</div>