:host {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;


    .search-bar {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }
}